# ==============================================================================
# MAHJONG CUSTOM v1.0 - SERVER ENVIRONMENT CONFIGURATION
# SUPABASE POSTGRESQL & CLOUD DEPLOYMENT
# ==============================================================================

# Port HTTP & WebSocket Server (Default Lokal: 8080 | Koyeb/Cloud: $PORT)
PORT=8080

# SUPABASE POSTGRESQL CONNECTION CONFIGURATION
# Ganti [YOUR_DATABASE_PASSWORD] dengan password database Supabase Anda
DATABASE_URL=postgresql://postgres:[YOUR_DATABASE_PASSWORD]@db.esnybghukyrdkjeglbii.supabase.co:5432/postgres?sslmode=require

# Parameter Terpisah (Optional)
DB_HOST=db.esnybghukyrdkjeglbii.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=121191GabeTheo*
DB_SSLMODE=require

# REDIS CACHE (Optional untuk clustering multi-server)
# REDIS_URL=redis://default:[PASSWORD]@[HOST]:6379

# JWT & AUTH SECRET
JWT_SECRET=mahjong_vip_secret_super_secure_key_2026
